<div class="createUserInputBox  animated fadeIn fast">
  <img src="../../../assets/User.png" class="userImage" alt="User">
  <h2>Restore password</h2>
  <form (submit)="submitUser($event)">
    <p>Email</p>
    <input  type="text" name="text1" id="email" placeholder="Enter Email">
    <p>Password</p>
    <input type="password" name="" placeholder="•••" id="password">
    <input type="submit" name="" (click)="onSubmit()" value="Submit">
    <form>
      <a href="#" class="left" routerLink="/login"><-Back</a>
    </form>
  </form>
</div>



